*,
*:before,
*:after {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--eerie-black);
	color: var(--unsong-white);
	font-family: var(--default-font);
	font-size: var(--default-font-size);
}

.spacer {
	flex: 1 1 auto;
}

main.content {
	height: 100%;
	width: 100%;
	display: grid;
	place-content: center;
}

.mat-drawer-content::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	background-color: #1f1c1c;
	border-radius: 0.4rem;
}

.mat-drawer-content::-webkit-scrollbar {
	width: 0.4rem;
	background-color: #1f1c1c;
}

.mat-drawer-content::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: var(--eerie-black);
	background-image: -webkit-linear-gradient(
		top,
		#4b0969 0%,
		#2e0641 50%,
		#2e0641 51%,
		#1c0427 100%
	);
}
