@use '@angular/material' as mat;
@use 'palettes' as palettes;

@include mat.core();

$djk-primary: mat.define-palette(palettes.$nemesis-soulstone-palette, 700);
$djk-accent: mat.define-palette(palettes.$nemesis-darkness-palette, 900);
$djk-warn: mat.define-palette(mat.$red-palette, 700);

$djk-theme: mat.define-dark-theme(
	(
		color: (
			primary: $djk-primary,
			accent: $djk-accent,
			warn: $djk-warn,
		),
	)
);

@include mat.all-component-themes($djk-theme);
