<djk-layout>
	<main class="content">
		<img
			src="assets/logo.svg"
			alt="D|Enterprise logo"
			class="logo"
			[ngClass]="{ logo__open: logoOpen | async }"
			@logoTrigger
			(click)="logoOpen.next(!logoOpen.getValue())"
		/>
		<button
			mat-button
			class="index-button"
			[ngClass]="{ 'index-button__open': logoOpen | async }"
			*ngIf="auth.user | async"
			routerLink="/home"
		>
			Continue
		</button>
		<button
			mat-button
			class="index-button"
			[ngClass]="{ 'index-button__open': logoOpen | async }"
			*ngIf="!(auth.user | async)"
			(click)="openDialog()"
		>
			Continue
		</button>
	</main>
</djk-layout>
