<mat-toolbar class="toolbar">
	<button
		mat-icon-button
		(click)="sidenav.emit()"
		@sidenavButtonTrigger
		*ngIf="ToolbarSidenavButton"
	>
		<mat-icon>menu</mat-icon>
	</button>

	<img src="assets/logo.svg" alt="D|Enterprise logo" class="toolbar__logo" routerLink="/" />

	<h1 routerLink="/">D|Enterprise</h1>

	<span class="spacer"></span>

	<button mat-icon-button [matMenuTriggerFor]="menu">
		<mat-icon>more_vert</mat-icon>
	</button>
</mat-toolbar>

<mat-menu #menu="matMenu">
	<button
		mat-menu-item
		routerLink="/login"
		routerLinkActive="router-link-active"
		*ngIf="!(auth.user | async)"
	>
		<mat-icon>login</mat-icon>
		<span>Log in</span>
	</button>
	<button
		mat-menu-item
		routerLink="/home"
		routerLinkActive="router-link-active"
		[disabled]="!(auth.user | async)"
	>
		<mat-icon>home</mat-icon>
		<span>Home</span>
	</button>
	<button
		mat-menu-item
		*ngIf="auth.user | async"
		routerLinkActive="router-link-active"
		(click)="logout()"
	>
		<mat-icon>logout</mat-icon>
		<span>Log out</span>
	</button>
</mat-menu>
