<div mat-dialog-content>
	<div class="button-container">
		<button
			mat-raised-button
			color="accent"
			class="option-button"
			type="button"
			[mat-dialog-close]="true"
			routerLink="/sign-up"
		>
			Create a new account
		</button>
		<button
			mat-raised-button
			color="accent"
			class="option-button"
			type="button"
			[mat-dialog-close]="true"
			routerLink="/forgot-password"
		>
			Forgot my password
		</button>
		<button
			mat-raised-button
			color="warn"
			class="option-button"
			type="button"
			[mat-dialog-close]="true"
			cdkFocusInitial
		>
			Close
		</button>
	</div>
</div>
